
#  required packages for the ML project:

                        |----required packages for the ML project:
                         |pandas 
                         |numpy 
                         |matplotlib 
                         |seaborn 
                         |scikit-learn



